# Relay44 code ownership

* @0p3r4t0r44

/.github/              @0p3r4t0r44
/SECURITY.md           @0p3r4t0r44
/app/                  @0p3r4t0r44
/evm/                  @0p3r4t0r44
/migrations/           @0p3r4t0r44
/programs/             @0p3r4t0r44
/scripts/              @0p3r4t0r44
/sdk/                  @0p3r4t0r44
/services/             @0p3r4t0r44
/web/                  @0p3r4t0r44
